@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html,body{
    margin:0;
    padding:0;
    font-family:'Open sans', sans-serif;
}
h1{
  font-size: 26px;  
  font-weight: 600;

}
h2{
    font-weight: 600;
  font-size: 20px;
}
hr{
    border: 1px solid #f0932b;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    color: #000;
    text-decoration: none;
}
header{
    padding: 20px;
}
.logo-container{
    margin: 0 auto;
    height: auto;
    width: 150px;
}
.logo-container img{
    height: auto;
    width: 100%;
}

main{
    background: #fff1e2;
    display:grid;
    grid-template-columns: 1fr minmax(auto,350px);
}
section{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    "title title title"
    "prev content next";
    grid-template-rows: 90px;
}
.title{
    grid-area: title;
    padding: 20px;
    font-weight: 600;
}
.previous{
    background: #f0932b;
    border-radius: 4px;
    height: 22px;
    padding:0 1em 0 1.5em;
    grid-area: prev;
    text-transform: capitalize;
    justify-self: center;
    position: relative;
}
.previous:before{
    content: '';
    position: absolute;
    top:6px;
    left: 15px;
    border-top: 5px solid transparent;
    border-right: 5px solid #000;
    border-bottom: 5px solid transparent;
}

.next{
    background: #f0932b;
    border-radius: 4px;
    height: 22px;
    padding:0 1.5em 0 1em;
    grid-area: next;
    justify-self: center;
    position: relative;
}
.next::after{
    content: '';
    position: absolute;
    top:6px;
    right: 15px;
    border-top: 5px solid transparent;
    border-left: 5px solid #000;
    border-bottom: 5px solid transparent;
}
.content{
    padding-top: 60px;
    grid-area: content;
}
footer{
    border-top: 2px solid #f0932b;
    background: #404041;
    padding: 20px;
}
footer div{
    color: #fff;
}
.active{
    color: #f0932b;
    font-weight: 600;
}

.img-container{
    height: auto;
    width: 100%;
}
.img-container img{
    height: auto;
    width: 100%;
}
.text-container p{
    padding-bottom: 1em;
}

.sidenav{
    padding: 1em 1em;
}
.sidenav li{
    padding: .5em;
}

aside{
    padding-top: 36px;
    border-left: 1px solid #c0c0c0;
}

@media only screen and (max-width: 600px) {
    
    header{
       grid-template-columns: 1fr;
    }
    .logo-container{
        justify-self: center;
    }
    .header ul:nth-child(3){
    padding-top: 15px;
        justify-self: center;
    }
    main{
        grid-template-columns: 1fr;
    }
    section{
        padding: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "title title"
        "content content"
        "prev next"
    }
    aside {
        width: 100%;
    }
    footer{
        grid-template-columns: 1fr;
    }
    footer div{
        padding-top: 10px;
        justify-self: center;
    }
} 