@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html,body{
    margin:0;
    padding:0;
    font-family:'Open sans', sans-serif;
}
h1{
  font-size: 32px;  
}
h2{
    font-weight: 600;
  font-size: 16px;
}
hr{
    border: 1px solid #f0932b;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    color: #000;
    text-decoration: none;
}
header{
    display: grid;
    grid-template-columns: 1.5fr auto 2fr;
    align-items: center;
    padding: 20px;
}
.logo-container{
    height: auto;
    width: 150px;
}
.logo-container img{
    height: auto;
    width: 100%;
}
.header ul{
    text-align: center;
}
.header ul li{
    padding: 0 2px;
    display: inline-block;
}
.header ul li a{
    padding: 5px 15px;
}
.header ul:nth-child(3){
    justify-self: end;
}
.header ul:nth-child(3) li:nth-child(1){
    border-right: 1px solid #808080;
}
.signup{
   border: 2px solid  #f0932b;
   border-radius: 50px;
}

main{
    background: #fff1e2;
    display:grid;
    grid-template-columns: 1fr minmax(auto,350px);
}
section{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    "title title title"
    "prev content next";
    grid-template-rows: 60px;
}
.title{
    grid-area: title;
    padding: 20px;
    font-weight: 600;
}
.prev{
    grid-area: prev;
    justify-self: center;
}
.next{
    grid-area: next;
    justify-self: center;
}
.content{
    grid-area: content;
}
footer{
    border-top: 2px solid #f0932b;
    background: #404041;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 20px;
}
footer ul{
    text-align: center;
}
footer ul li{
    display: inline;
    padding: 0 15px;
}
footer ul li a{
    color: #fff;
}
footer div{
    color: #fff;
    justify-self: end;
}
.active{
    color: #f0932b;
    font-weight: 600;
}

.img-container{
    height: auto;
    width: 100%;
}
.img-container img{
    height: auto;
    width: 100%;
}
.video-container{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.text-container p{
    padding-bottom: 1em;
}

.sidenav{
    padding: 1em 1em;
}
.sidenav li{
    padding: .5em;
}

aside{
    padding-top: 36px;
    border-left: 1px solid #c0c0c0;
}

@media only screen and (max-width: 600px) {
    
    header{
       grid-template-columns: 1fr;
    }
    .logo-container{
        justify-self: center;
    }
    .header ul:nth-child(3){
    padding-top: 15px;
        justify-self: center;
    }
    main{
        grid-template-columns: 1fr;
    }
    section{
        padding: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "title title"
        "content content"
        "prev next"
    }
    aside {
        width: 100%;
    }
    footer{
        grid-template-columns: 1fr;
    }
    footer div{
        padding-top: 10px;
        justify-self: center;
    }
} 